.navbar
    margin: 5px 0
    padding: 10px
    border: none
    border-radius: 0
    box-shadow: $bs-32

    &-toggle--sidebar,
    &-toggle--navbar
        padding: 0 5px
        width: 40px
        height: 40px
        color: rgba(0, 0, 0, 0.5)
        background-color: $zinc
        border: none
        border-radius: 0
        cursor: pointer

    &-dropdown-menu
        margin: 0
        padding: 0
        top: 90%
        right: 0
        left: auto
        min-width: 100px
