*
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none

ul,
li
    list-style-type: none

button
    background-color: transparent
    border: none
    outline: none
    cursor: pointer

input
    outline: none

body
    font-family: 'Nunito', sans-serif
    background-color: #fafafa
    color: #2e2e2e
