.bk-form
    position: relative
    padding: 10px
    display: flex
    justify-content: center
    border: $border-gray

    &__wrapper
        display: grid
        grid-gap: 5px
        width: 100%

    &__field
        display: grid
        grid-gap: 5px
        overflow: hidden

    &__label
        margin: 0
        width: 100%
        font-weight: bold
        border-bottom: $border-gray

    &__input,
    &__select
        padding: 0 10px
        height: 35px
        border: $border-gray
        appearance: none

    &__file
        position: absolute
        left: 0
        bottom: 0
        opacity: 0
        cursor: pointer

    &__checkbox
        width: 20px
        height: 20px
        cursor: pointer

    &__text
        font-weight: bold
        color: rgba($dark, .5)
