*
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none !important
    color: $dark

    &:hover
        color: $dark

ul,
li
    list-style-type: none

button
    background-color: transparent
    border: none
    outline: none
    cursor: pointer

input,
select
    outline: none

textarea
    resize: vertical

body
    font-family: $nunito
    background-color: $light
    color: $dark
