.bk
    &-section
        overflow: auto

    &-btn-group
        display: flex
        flex-wrap: wrap
        grid-gap: 5px


@media (max-width: $width-md)
    .bk
        &-btn-group
            display: grid
